body{
    display: flex;
    margin: 0;
    flex-direction: column;
}

#top{
    background-color: red;
    height: 15vh;
}

#column-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#column-left{
    background-color: blue;
    height: 85vh;
    width: 20vw;
    align-self: baseline;
}
#middle-bottom{
    background-color: turquoise;
    height: 15vh;
    width: 60vw;
    align-self: baseline;
}
#column-right{
    background-color: orange;
    height: 85vh;
    width: 20vw;
    align-self: flex-end;
}